/*regola di reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*fine reset*/

/*navbar*/
header{
    background-color: white;
    padding-left: 50px;
    padding-top: 20px;
}
h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 48px;
    
}
#logo{vertical-align: middle;}

/*fine navbar*/
/*inizio bottoni*/
body{
    background-color:#F6F8F9;
font-family:Arial, sans-serif;}

.BOTTONE{
    border-radius: 5px;
    border: lightgray;
    width: 80px;
    height: 35px;
}
.AZZURRO
{
    
    color:white;
    background-color: #47ADF1;
}
.BIANCO{
    
    color:#CFD4D8;
    background-color: white;
    border-color: #D5D9DD;
    width: 100px;
    height: 35px;
}



#contenitoretasti
{
    background-color: white;
    height: 65px;
    margin-top: 50px;
    
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 18px;
    padding-left: 50px;
    
    
    

}


/* fine bottoni */
/*inizio corpo lista*/
#contenitorecorpopagina
{
    margin-top: 2.5px;
    background-color: white;
    padding-top: 30px;
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 50px;
    padding-bottom: 45px;
}
ul{
    list-style-type:none;
}
.icona{
    padding: 0px 5px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
}
.mark{
    color: green;
    border:  green 1px solid;
    text-align: center;
    
}
.cross{
    color: red;
    border:  red 1px solid;
    text-align: center;
    
}
li{
    padding-top: 15px;
    padding-left: 7px;
    margin-bottom: 12px;
}
.elemento{
    
    border-radius: 12px;
    font-size: 10px;
    margin-left: 7.5px;
    padding: 5px;

    
}
.blu{
    background-color: #47ADF1;
    color: white;
}
.viola{
    background-color: #9C72E4;
    color: white;

}
.verde{
    background-color: #64c0a9;
    color: white;

}
.arancione{
    background-color: #f29e33;
    color: white;
}
.rosa{
    background-color: #d863a1;
    color: white;
}
.verdechiaro{background-color: #b0c926;
    color: white;

}
/*fine corpo lista*/