/*regola di reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*fine reset*/

/*navbar*/
header{
    background-color: white;
    padding-left: 50px;
    padding-top: 20px;
}
h1{display: inline-block;
}
#logo{vertical-align: middle;}

/*fine navbar*/
/*inizio bottoni*/
body{background-color:#F6F8F9;}

.BOTTONE{
    border-radius: 5px;
    border: lightgray;
    width: 80px;
    height: 35px;
}
.AZZURRO
{
    
    color:white;
    background-color: #47ADF1;
}
.BIANCO{
    
    color:#CFD4D8;
    background-color: white;
    border-color: #D5D9DD;
    width: 100px;
    height: 35px;
}



#contenitoretasti
{
    background-color: white;
    height: 65px;
    margin-top: 50px;
    
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 35px;
    
    
    

}


/* fine bottoni */

#contenitorecorpopagina
{
    margin-top: 5px;
    background-color: white;
    padding-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
}
.task
{
    
}